# Usar DATABASE_URL o las variables individuales de abajo, no es necesario definir ambas opciones.
DATABASE_URL=
DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=dbingeso
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
DB_SYNCHRONIZE=true
PORT=3001
FRONTEND_URL=http://localhost:5173

# Opcionales para recuperación de contraseña por correo
EMAIL_USER=
EMAIL_PASSWORD=